@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.863);
}

h1{
    text-align: center;
    margin-top: 100px;
}
#label {
    position: absolute;
    width: 111px;
    height: 15px;
    left: 307px;
    top: 165px;

    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

#input {
    position: absolute;
    width: 171px;
    height: 48px;
    top: 22px;
    right: -63px;

    background: rgba(255, 255, 255, 0.678);
    border-radius: 10px;
}

#button {
    box-sizing: border-box;

    position: absolute;
    width: 171px;
    height: 54px;
    left: 491px;
    top: 185px;

    background: #96EB95;
    border: 1px solid #96EB95;
    border-radius: 10px;
}

.container {
    position: absolute;
    width: 900px;
    height: 583px;
    left: 306px;
    top: 290px;
    background: rgba(109, 104, 104, 0.904);
    border-radius: 20px;
}

#dados-title {
    text-align: center;
}

ul {
    display: flex;
    margin-top: 250px;
    text-align: center;
    color: beige;
}